<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pb_core>
            <general>
                <menu>1</menu>
                <notifications>1</notifications>
            </general>
            <updates>
                <auto_update_check>1</auto_update_check>
            </updates>
        </pb_core>
    </default>
</config>
