@import '_icons.less';

/*.admin__menu .item-peterbrain.parent.level-0 > a:before {
  content: @peterbrain_logo;
  width: 2.2rem;
  height: 2.2rem;
  margin: auto;
  margin-bottom: .3rem;
}*/

.admin__menu {
  li.item-peterbrain {
    &.level-0 {
      > a {
        &:before {
          /*content: @peterbrain_logo;
          width: 2.2rem;
          height: 2.2rem;
          margin: auto;
          margin-bottom: .3rem;*/
          content: @icon-peterbrain__logo;
          font-family: @icons-peterbrain__font-name;
          font-size: 2.2rem;
        }
      }
      .submenu {
        .submenu-title {
          &:before {
            /*content: @peterbrain_logo;
            display: inline-block;
            width: 2.2rem;
            height: 2.2rem;
            margin: auto;
            margin-right: .3rem;*/
            content: @icon-peterbrain__logo;
            font-family: @icons-peterbrain__font-name;
            margin-right: 0.5em;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

.config-nav {
  .peterbrain-extensions {
    .admin__page-nav-title {
      &:before {
        /*content: @peterbrain_logo;
        display: inline-block;
        width: calc(1.4rem * 1.2);*/ /* font-size * line-height (vertical align to bottom) */
        /*height: calc(1.4rem * 1.2);
        margin: auto;*/
        content: @icon-peterbrain__logo;
        font-family: @icons-peterbrain__font-name;
        margin-right: 1rem;
        vertical-align: bottom;
      }
    }
  }
}
