<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="PeterBrain_Core::peterbrain"
            title="PeterBrain"
            module="PeterBrain_Core"
            sortOrder="70"
            dependsOnModule="PeterBrain_Core"
            resource="PeterBrain_Core::peterbrain"
        />
            <add
                id="PeterBrain_Core::core"
                title="Core"
                module="PeterBrain_Core"
                sortOrder="999"
                dependsOnModule="PeterBrain_Core"
                parent="PeterBrain_Core::peterbrain"
                resource="PeterBrain_Core::core"
            />
                <add
                    id="PeterBrain_Core::config"
                    title="Configuration"
                    module="PeterBrain_Core"
                    sortOrder="10"
                    dependsOnModule="PeterBrain_Core"
                    parent="PeterBrain_Core::core"
                    action="adminhtml/system_config/edit/section/pb_core"
                    resource="PeterBrain_Core::config"
                />
                <add
                    id="PeterBrain_Core::sysinfo"
                    title="System Information"
                    module="PeterBrain_Core"
                    sortOrder="20"
                    dependsOnModule="PeterBrain_Core"
                    parent="PeterBrain_Core::core"
                    action="pbcore/sysinfo"
                    resource="PeterBrain_Core::sysinfo"
                />
    </menu>
</config>
